// Main Header
// --------------------------------------------------------------------
header
  +span-columns(12)

hgroup
  text-align: center
  p
    +adjust-font-size-to(20px)

.primary
  clear: both
  h1
    +leader(0)
    strong
      color: $brand-green-lt
  p
    +trailer(2)

.businessEngagement, .solutions, .developerPlatform, .about
  .primary
    color: white
    a
      color: white
// Secondary Header
// --------------------------------------------------------------------
.secondary
  background-color:  lighten($brand-grey, 85%)
  padding: $base-line-height*2 0
  text-align: center
  +clearfix()

  header
    hgroup

      p
        +adjust-font-size-to(16px)
      // p:last-child
        // +trailer(2)

.solutions, .developerPlatform
  h1
    +adjust-font-size-to(46px)

  // p:last-child
    // +trailer(1)

section
  .centered-container
    padding-top: $base-line-height
    padding-bottom: 0

    // padding-right: 0
    // padding-bottom: $base-line-height
    // padding-left: 0
// Staggered Sections
// --------------------------------------------------------------------
section.staggered
  padding-top: $base-line-height*2

  .content, figure
    min-height: 200px
    margin: 0
    +span-columns(12 omega)

  .content
    margin-bottom: $base-line-height

  figure
    img
      width: 260px
      margin: 0 auto
      display: block

section.staggered:nth-child(even)
  background: lighten($brand-grey, 88%)
  .content, figure
    float: right

section.staggered:nth-child(odd)
  .content, figure
    float: left

// 4 up Grid
// --------------------------------------------------------------------
section.articles
  article
    +span-columns(12)
    // height: 1000px
    // border-bottom: 1px solid red

// Tablet Breakpoint (9 columns default)
// --------------------------------------------------------------------
+at-breakpoint($tablet)

  .businessEngagement, .solutions, .developerPlatform, .about
    .primary
      .centered-container
        min-height: 375px

      h1
        +leader(1)
        // p:last-child
        //   +trailer(3)

  section.staggered
    .content
      +span-columns(5 omega)
    figure
      text-align: left
      +span-columns(4)
      img
        width: auto

  section.staggered:nth-child(even)
    .content
      +span-columns(5)
    figure
      +span-columns(4 omega)
      text-align: right


// Desktop Breakpoint (12 columns default)
// --------------------------------------------------------------------
+at-breakpoint($desktop)

  // .primary, .secondary
  //   header
      // +span-columns(11)
      // +prefix(1)

  section.staggered
    .content
      +span-columns(7 omega)
    figure
      +span-columns(5)

  section.staggered:nth-child(even)
    .content
      +span-columns(7)
    figure
      +span-columns(5 omega)

  section.articles
    article
      +span-columns(3)
      &:nth-child(4n+4)
        +omega

hr
  margin-bottom: 0