
<h1>Privacy Policy</h1>

<p>Privacy Policy, Process and FAQ’s</p>

<p>Whodini believes in protecting your privacy. When we collect personal information from you in our application, we follow the privacy principles of the European Data Protection Authorities and comply with the U.S.-EU Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use and retention of personal data from the European Union.  These are our promises to you:</p>
<ul>
  <li><b>Notice.</b> When we collect your personal information, we’ll give you timely and appropriate notice describing what personal information we’re collecting, how we’ll use it, and the types of third parties with whom we may share it.
</li>
  <li><b>Choice.</b> We’ll give you choices about the ways we use and share your personal information, and we’ll respect the choices you make.</li>
  <li><b>Relevance.</b> We’ll collect only as much personal information as we need for specific, identified purposes, and we won’t use it for other purposes without obtaining your consent.</li>
  <li><b>Retention.</b>We’ll keep your personal information only as long as we need it for the purposes for which we collected it, or as permitted by law.</li>
  <li><b>Accuracy.</b>We’ll take appropriate steps to make sure the personal information in our records is accurate.</li>
  <li><b>Access.</b>We’ll provide ways for you to access your personal information, as required by law, so you can correct inaccuracies.</li>
  <li><b>Security.</b>We’ll take appropriate physical, technical and organizational measures to protect your personal information from loss, misuse, unauthorized access or disclosure, alteration and destruction.</li>
  <li><b>Sharing.</b>Except as described in this policy, we won’t share your personal information with third parties without your consent.</li>
  <li><b>International Transfer.</b> If we transfer your personal information to another country, we’ll take appropriate measure stop protect your privacy and the personal information we transfer.</li>
  <li><b>Enforcement.</b> We’ll regularly review how we’re meeting these privacy promises and we’ll provide an independent way to resolve complaints about our privacy practices.</li>
  <li><b></b></li>
</ul>

<p>To access your information, ask a question about our privacy practices, or issue a complaint, contact us at:</p>

<address>
  <b>Whodini</b>
  335 Main Street, Ste. B <br/>
  Los Altos, CA 94022 <br/>
  <a href="mailto:support@whodini.com">support@whodini.com</a>
</address>

<p>If your inquiry is not satisfactorily addressed, contact the European Data Protection Authorities Dispute Resolution Process. The European Data Protection Authorities will serve as a liaison with Whodini to resolve your concerns.</p>

<h2>Process</h2>

<ul>
    <li><b>1. </b>Only a small percentage of words are selected and no full emails or sentences are used. Whodini identifies roughly 100 words for every 3,000 emails as being truly reflective of what you are engaged in at work.</li>
    <li><b>2. </b>Once scored and contextualized, terms and phrases are presented for your approval prior to being made available to your coworkers. You serve as the most important advocate for your own privacy by reviewing terms prior to approving them.</li>
    <li><b>3. </b>Once you approve your terms and scores are made available to your coworkers. Whodini is focused internally and your information is not viewable to people outside your company.</li>
</ul>


<h2>FAQ’s</h2>

<h3>What does Whodini do with my content?</h3>

<p>Whodini scans email and calendar information in much the same way consumer and enterprise products scan content to identify spam. The software identifies and extracts and scores a tiny fraction of the words and phrases as the concepts that you are engaged with. We do not retain any of your original content.</p>

<h3>How do you know what I’m engaged in at work?</h3>

<p>Whodini’s analytics engine looks at how language is used in context to determine if a word or phrase is relevant and important to you. For example, “Wine Tasting” means very different things if you are at a tech company planning a get together compared with being a winemaker focused on staffing issues. Our technology is capable of understanding the difference automatically. No humans are used in the creation of your engagement terms and scores and we never see any of your data.</p>

<h3>Why was I asked to approve a non-work related term?</h3>

<p>We know personal and private information flows through corporate email, calendars and other business systems.  Whodini is built to recognize and ignore as much of that content as possible. We are only interested in those words and phrases that are related to your work.However, we cannot predict everything you might talk about with your colleagues.</p>

<p>If you are having an email discussion with a coworker about your sincere and profound love of gardening, it would make sense that Whodini would realize the importance of gardening in those emails. If you have many such conversations, some of those terms will likely show up awaiting your approval. A term is not published until it is approved, so simply hide these terms and they will not be made available anywhere else in the system.</p>

<h3>Will anyone see the terms I hide?</h3>

<p>No. Whodini lets users determine what is made visible in order to protect both confidentiality and privacy. Nothing is ever published or shared without your explicit approval. You can hide anything at any time.</p>

<h3>What else do you use my content for?</h3>

<p>Whodini is focused exclusively on finding the right people for you to collaborate with. We don’t sell your information to anyone. We don’t use the information to provide targeted ads. We don’t export that data to any other service.</p>

<h3>What does Whodini do to comply with government regulations?</h3>

<p>Whodini complies with the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland.
Whodini has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access and enforcement. To learn more about the Safe Harbor program, and to view Whodini’s certification, please visit <a href="http://www.export.gov/safeharbor/">http://www.export.gov/safeharbor/</a>
</p>