.developerPlatform
  .primary
    color: white
    min-height: 375px
    +background(linear-gradient(darken($brand-orange, 5%), lighten(mix($brand-yellow, $brand-orange,30%), 5%)))

    h1
      color: lighten($brand-orange, 35%)
      +leader(0)
      strong
        color: white

    p
      color: lighten($brand-orange, 35%)

  ul.main-nav
    .nav-primary
      a
        background: darken($brand-orange, 10%)
        &:hover
          background: darken($brand-orange, 15%)

  h2, h3
    color: $brand-orange

  .clouds
    display: none
    margin-top: 110px
    // max-width: 381px
    width: 100%

+at-breakpoint($tablet)
  .developerPlatform
    .primary
      h1
        color: lighten($brand-orange, 35%)
        +leader(1.4)
    .clouds
      display: block