#header
  background: lighten($brand-grey, 90%)
  border-bottom: 1px solid lighten($brand-grey, 85%)
  +clearfix

  .centered-container
    overflow: visible
    position: relative

  .whodini-logo
    margin: 13px 0
    display: block
    text-align: center

+at-breakpoint($tablet)
  .whodini-logo
    display: inline-block
    float: left