.header
  background: lighten($brand-grey, 90%)
  border-bottom: 1px solid lighten($brand-grey, 85%)

  &.clone
    display: none
    position: fixed
    top: -70px
    +opacity(.95)
    +transition(all .1s ease-in-out)

  .centered-container
    overflow: visible
    position: relative

  .whodini-logo
    margin: $base-line-height/2 0
    display: inline-block
    float: left

+at-breakpoint($tablet)
  .header.clone
    display: block

body.down
  .header.clone
    top: 0
    z-index: 999