body.press
  section.staggered
    padding: $base-line-height*2 0
    h3
      +leader(0)
      a
        color: $brand-green-lt

    h5
      font-weight: 400
      color: lighten($brand-grey, 50%)
      +adjust-font-size-to(13px)

    figure
      text-align: center
      img
        +opacity(.5)
