body.press
  section.staggered
    padding: $base-line-height*2 0
    h3
      +leader(0)

    h5
      font-weight: 400
      color: lighten($brand-grey, 50%)
      +adjust-font-size-to(13px)

    figure
      background-position: center center
      background-repeat: no-repeat
      +opacity(.5)

.cal-poly figure, a[href="#story0"]
  background: image-url("logos/cal-poly-logo.png")

.up figure, a[href="#story1"]
  background: image-url("logos/up-logo.png")

.svbj figure, a[href="#story2"]
  background: image-url("logos/svbj-logo.png")

.business-makers figure, a[href="#story3"]
  background: image-url("logos/business-makers-logo.png")

.gigaom figure, a[href="#story4"]
  background: image-url("logos/gigaom-logo.png")

.nww figure, a[href="#story5"]
  background: image-url("logos/nww-logo.png")

.reuters figure, a[href="#story6"]
  background: image-url("logos/reuters-logo.png")

.wsj figure, a[href="#story7"]
  background: image-url("logos/wsj.png")

.cio figure, a[href="#story8"]
  background: image-url("logos/cio-logo.png")

.venture-beat figure, a[href="#story9"]
  background: image-url("logos/venture-beat-logo.png")

.svbj figure, a[href="#story10"]
  background: image-url("logos/svbj-logo.png")

.computer-world figure, a[href="#story11"]
  background: image-url("logos/cw-logo.png")

ul.logo-strip
  margin: 0
  padding: 0
  li
    display: inline-block
    float: left
    width: 16.666%
    a
      background-position: center center
      background-repeat: no-repeat
      background-size: 65%
      display: inline-block
      width: 100%
      height: 120px
      -webkit-transform: translateZ(0) //stops animation from flickering on hover
      +transition(all .2s ease-in-out)
      +opacity(.5)
      &:hover
        +opacity(1)

    &:nth-child(7n)
      clear: left

+at-breakpoint($tablet)
  ul.logo-strip
    li
      width: 8.333%
      &:nth-child(7n)
        clear: none
