
.welcome.index
  .primary
    background: url(office.png) no-repeat center 0
    // -webkit-background-size: cover
    // -moz-background-size: cover
    // -o-background-size: cover
    // background-size: cover
    position: relative

    header
      +prefix(0)
      +span-columns(10)

    hgroup
      text-align: left


    h1
      +leader(1)

  .col-3
    padding: 0 $base-line-height
    h3
      a
        color: $brand-orange
    // p:nth-child(2)
    //   color: black
    // p:nth-child(3)
    //   +adjust-font-size-to(16px)
    //   color: lighten($brand-grey, 40%)



#searchField
  display: inline-block
  padding: 12px
  width: 350px
  font-size: 24px
  font-weight: 300!important
  text-align: left
  background:  rgba(lighten($brand-grey, 80%), .8)
  border: none
  color: black
  +trailer(2)
  &:focus
    border-color: none
    outline: 0

ul#scoreTags
  position: absolute
  top: 0
  left: 50%
  padding: 0

  li
    position: absolute
    display: inline-block
    background: $brand-green-lt
    padding: 12px
    +opacity(0)

    &:after
      content: ' '
      position: absolute
      bottom: -7px
      left: 50%
      margin-left: -5px
      +arrow(10px, 7px, down, $brand-green-lt)

    &.active
      +opacity(1)

      &:nth-child(1)
        top: 79px

      &:nth-child(2)
        top: 110px

      &:nth-child(3)
        top: 60px

      &:nth-child(4)
        top: 45px

    &:nth-child(1)
      top: 89px
      left: 210px
      +transition(all .2s ease-in-out)
    &:nth-child(2)
      top: 120px
      left: 287px
      +transition(all .2s  .1s ease-in-out)
    &:nth-child(3)
      top: 70px
      left: 460px
      +transition(all .2s .2s ease-in-out )
    &:nth-child(4)
      top: 55px
      left: 543px
      +transition(all .2s .3s ease-in-out)