.welcome.index
  .primary
    background: url(office.jpg) no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover


    header
      height: 439px

    hgroup
      text-align: center

    h1
      +adjust-font-size-to(42px)
      +leader(.5)
      background-color: mix($brand-green-lt, $brand-green-dk, 80%)
      display: inline
      color: white
      position: relative
      top: 65px
      line-height: 1.6em

  .col-3
    img
      display: block
      margin: $base-line-height*2 auto 0 auto
      +opacity(.5)

+at-breakpoint($tablet)
