$total-columns: 12
$column-width: 3.5em
$gutter-width: 2em
$grid-padding: $gutter-width
$break: 12
$tablet: 9
$desktop: 55em 12
// $container-style: static

.centered-container
  position: relative
  overflow: hidden
  +transition(all .2s ease-in-out)
  +container($total-columns, $tablet, $desktop)
  // +susy-grid-background

  .col-3, .left, .right
    margin-bottom: $base-line-height*2
    +span-columns(12)

  .left
    .clouds
      margin-top: 110px

+at-breakpoint($tablet)
  .centered-container
    // +susy-grid-background
    // background: red
    .col-3
      +span-columns(3)
      &:nth-child(3n)
        +omega

    .left
      +span-columns(4)

    .right
      text-align: left
      +span-columns(5)
      +omega

+at-breakpoint($desktop)
  .centered-container
    // +susy-grid-background
    .col-3
      +span-columns(4)
      &:nth-child(3n)
        +span-columns(4 omega)

    .left
      +span-columns(5)

    .right
      +span-columns(7)
      +omega