h1
  strong
    font-weight: 400

h2
  font-weight: 500
  +adjust-font-size-to(30px)

h2, h3
  color: mix($brand-green-dk, $brand-green-lt, 50%)

a
  color: mix($brand-green-dk, $brand-green-lt, 50%)
  &:hover,
  &:focus,
  &:active,
  &.active
    color: $brand-green-dk

label
  font-weight: normal
  text-transform: uppercase

// TODO: move these over to whodini-web-common
address, p, li
  +adjust-font-size-to(18px)

.primary
  small
    float: right
    background: rgba(darken($brand-green-dk, 30%), .7)
    padding: 0 10px
    +adjust-font-size-to(14px)
    a
      color: rgba(white, .7)
      &:hover
        color: white

ul, ol
  &.indent-list
    margin-left: -20px
    li
      list-style-position: inside
      text-indent: -1em
      margin-bottom: $base-line-height/3