h1
  +adjust-font-size-to(44px)
  strong
    font-weight: 400

h2
  font-weight: 500
  +adjust-font-size-to(22px)

h2, h3
  color: mix($brand-green-dk, $brand-green-lt, 50%)

a
  color: mix($brand-green-dk, $brand-green-lt, 50%)
  &:hover,
  &:focus,
  &:active,
  &.active
    color: $brand-green-dk

label
  font-weight: normal
  text-transform: uppercase

// TODO: move these over to whodini-web-common
address, p, ul.indent-list, ol.indent-list
  +adjust-font-size-to(18px)

.primary
  a
    color: rgba(white, .7)
    &:hover
      color: white

ul, ol
  &.indent-list
    margin-left: -20px
    li
      list-style-position: inside
      text-indent: -1em
      margin-bottom: $base-line-height/3

  &.no-bullets
    padding-left: 0
    li
      list-style-type: none
      margin-bottom: $base-line-height/3

  &.compact-list
    margin-top: 0
    li
      margin-bottom: 0


+at-breakpoint($tablet)

+at-breakpoint($desktop)
  h1
    +adjust-font-size-to(54px)

  h2
    +adjust-font-size-to(28px)