footer id="footer"
  p Copyright &copy #{Time.now.year} Whodini Inc. <br /><small>Any of the trademarks, service marks, collective marks, design rights or similar rights that are mentioned, used or cited in the Whodini website are the property of their respective owners.</small>