footer#footer
  .centered-container

/    .footer-column
/      h4 Technology
/      ul
/        li = link_to "Engagement", technology_businessEngagement_path
/        li = link_to "Solutions", technology_solutions_path
/        li = link_to "Developers", technology_developerPlatform_path
/        li = link_to raw( "Whodini Score"), faq_path
/
/    .footer-column
/      h4 Company
/      ul
/        li = link_to "About Us", company_about_path
/        / li = link_to "Our Team", company_team_path
/        li = link_to "Contact Us", contact_path
/        li = link_to "Careers", company_careers_path
/        li = link_to "Press", company_press_path
/        / li = link_to "Publications", company_publications_path
/        / li = link_to "Advisors", company_advisors_path
/        / li = link_to "Investors", company_investors_path
/
/    .footer-column
/      h4 Legal
/      ul
/        li = link_to "Terms of Use", terms_path
/        li = link_to "Privacy", privacy_path
/        li &copy #{Time.now.year} Whodini Inc.
